<!doctype html>
<html>
<body>
  <h1>{{ title }}</h1>
  {% if page.url.includes('/articles/') %}
    {% getInfo 'article.json' %}
    {% include './article.njk' %}
  {% endif %}
  {% if page.url.includes('/docs/') %}
    {% getInfo 'doc.json' %}
    {% include './doc.njk' %}
  {% endif %}
</body>
